body {
    background-color: #b7b7a4;
}
.button{
    font-size: 25px;
    padding: 5px 10px;
    color: #403234;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #ddbea9;
    border: 2.5px solid;
    border-radius: 5px; 
    font-family: "Times New Roman";
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}
.overlay:target{
    visibility: visible;
    opacity: 1;
}
.wrapper{
    margin: 70px auto;
    padding: 20px;
    background: #ffe8d6;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-oit;
    position: fixed;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    }
.wrapper .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition:all 200ms;
    font-size: 30px;
    font-weight: bold;
    color: #403234;
}
.wrapper .content{
    max-height: 30%;
    overflow: auto;
}
/* popup form design */
.container{
    border-radius: 5px;
    background-color: #ffe8d6;
    padding: 20px 0;
}
form label{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}
input[type = text]{
    width: 100%;
    font-size: 15px;
    padding: 12px;
    border: 1px solid #ffe8d6;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type = "email"]{
    width: 100%;
    font-size: 15px;
    padding: 12px;
    border: 1px solid #ffe8d6;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type = password]{
    width: 100%;
    font-size: 15px;
    padding: 12px;
    border: 1px solid #ffe8d6;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type = "submit"] {
    background-color: #ddbea9;
    color:#403234;
    font-weight: bold;
    padding: 5px 10px;
    border: 2.5px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "Times New Roman";
}
/*Header and Footer*/
    /* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
.header{        
    padding-top: 60px;
    padding-bottom: 40px;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #403234;
    padding: 10px 0;
    color: #ddbea9;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
.headerContainer{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
    color: #ddbea9;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
.innerContainer{
    background-color: #f1ecdb;
    border: 2.5px solid #403234;
    padding: 5px 10px;
    border-radius: 5px; 
    font-size: 18px;
    z-index: 1;
}
.EventTable{
    background-color: #f1ecdb;
    padding: 5px 10px;
}
.tableHeader{
    background-color: #ddbea9;
}
h1{
    margin-top: 50px;
    margin-left: 40%;
    font-size: 40px;
}
