<!DOCTYPE html>
<html>
    <script type="text/javascript" src="../static/js/mainPage.js"></script>
    <link rel = "stylesheet" href="static/css/style.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"></link>
    <script type="text/javascript" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type = "javascript" src="mainPage.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').dataTable({
                "columns": [
                {data: "Event Name"},
                {data: "Edit"},
                {data: "Delete"},
                ]
            });
        });
    </script>
    <head>
        <meta charset="UTF-8">
    </head>

    <body class="header">
        <div class="fixed-header">
            <div class="headerContainer">
                <nav>
                    <a href="#">About Us</a>
                    <a href="http://127.0.0.1:5500/Login.html">Log Out</a>
                </nav>
            </div>
        </div>

        <!-- Buttons -->
        <div>
            <div>
                <div class="box">
                    <a id="openAddEventButton" href="#addEventButton" class="button">ADD EVENT</a>
                    <a id="openCreateRSOButton" href="#createRSOButton" class="button">CREATE RSO</a>
                    <a id="openAddUniButton" href="#addUniversityButton" class="button">ADD UNIVERSITY</a>
                </div>
                <br/>
                <div style="margin-left: 170px;" class="box">
                    <a id="openDeleteRSOButton" href="#deleteRSOButton" class="button">DELETE RSO</a>
                    <a id="openDeleteUniButton" href="#deleteUNIButton" class="button">DELETE UNIVERSITY</a>
                    <a id="openJoinRSOButton" href="#joinRSOButton" class="button" style="margin-left: 600px;">JOIN RSO</a>
                </div>
                <div class="overlay" id="addEventButton">
                    <div class="wrapper">
                        <a href="#" class="close">&times;</a>
                        <div class="content">
                            <div class="container">
                                <form>
                                    <label>Event Name</label>
                                    <input id="eventName" type="text"/>
                                    <label>Event Description</label>
                                    <input id="eventDesc" type="text"/>
                                    <label>Location</label>
                                    <input id="location" type="text"/>
                                    <label>Date/Time</label>
                                    <input id="date" type="text"/>
                                    <label>Phone Contact</label>
                                    <input id="phone" type="text"/>
                                    <label>Email Contact</label>
                                    <input id="email" type="email"/>
                                    <label>Publc/Private</label>
                                    <input id="type" type="text"/>
                                    <input type="submit" value="Add Event"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay" id="addUniversityButton">
                    <div class="wrapper">
                        <a href="#" class="close">&times;</a>
                        <div class="content">
                            <div class="container">
                                <form>
                                    <label>University Name</label>
                                    <input id="UniName" type="text"/>
                                    <input type="submit" value="Add University"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay" id="createRSOButton">
                    <div class="wrapper">
                        <a href="#" class="close">&times;</a>
                        <div class="content">
                            <div class="container">
                                <form>
                                    <label>RSO Name</label>
                                    <input id="RSOName" type="text"/>
                                    <label>RSO Description</label>
                                    <input id="RSODesc" type="text"/>
                                    <label>Email 1</label>
                                    <input id="email1" type="email"/>
                                    <label>Email 2</label>
                                    <input id="email2" type="email"/>
                                    <label>Email 3</label>
                                    <input id="email3" type="email"/>
                                    <label>Email 4</label>
                                    <input id="email4" type="email"/>
                                    <label>Email 5</label>
                                    <input id="email5" type="email"/>
                                    <input type="submit" value="Create RSO"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay" id="deleteRSOButton">
                    <div class="wrapper">
                        <a href="#" class="close">&times;</a>
                        <div class="content">
                            <div class="container">
                                <form>
                                    <label>Enter RSO Name</label>
                                    <input id="deleteRSO" type="text"/>
                                    <a href="#deleteRSOConfirmation" class="button">DELETE RSO</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay" id="deleteUNIButton">
                    <div class="wrapper">
                        <a href="#" class="close">&times;</a>
                        <div class="content">
                            <div class="container">
                                <form>
                                    <label>Enter University Name</label>
                                    <input id="deleteUni" type="text"/>
                                    <div style="align-items: center;">
                                        <a href="#deleteUNIConfirmation" class="button">DELETE UNIVERSITY</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="overlay" id="deleteRSOConfirmation">
                    <div class="wrapper">
                        <a href="#" class="close">&times;</a>
                        <div class="content">
                            <div class="container">
                                <form>
                                   <label style="align-items: center;">Are you sure you want to delete this RSO?</label>
                                   <br><br>
                                   <a href="#" class="close">&times;</a>
                                   <input type="submit" value="YES"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay" id="deleteUNIConfirmation">
                    <div class="wrapper">
                        <a href="#" class="close">&times;</a>
                        <div class="content">
                            <div class="container">
                                <form>
                                   <label style="align-items: center;">Are you sure you want to delete this University?</label>
                                   <br><br>
                                   <a href="#" class="close">&times;</a>
                                   <input type="submit" value="YES"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        

            <!-- Events Table -->
            <div>
                <h1>University Events</h1>
            </div>
            <div class="innerContainer">
                <table id="dataTable" class="EventTable hover row-border">
                    <thead class="tableHeader">
                        <tr>
                            <th style="width: 80%;">Event Name</th>
                            <th style="width: 10">Edit</th>
                            <th style="width: 10%">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td href="">Event1</td>
                            <td>&#x1F4DD</td>
                            <td>&#10060</td>
                        </tr>
                        <tr>
                            <td>Event2</td>
                            <td>&#x1F4DD</td>
                            <td>&#10060</td>
                        </tr>
                        <tr>
                            <td>Event3</td>
                            <td>&#x1F4DD</td>
                            <td>&#10060</td>
                        </tr>
                        <tr>
                            <td>Event4</td>
                            <td>&#x1F4DD</td>
                            <td>&#10060</td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>

        <div class="fixed-footer">
            <div class="headerContainer">Copyright &copy; 2023 Your Company</div>        
        </div>
    </body>
</html>